/* Variables */
$color-brand-primary: #990303;
$color-brand-secondary: #d39740;
$color-text: #252525;
$color-text-weak: #383838;
$color-text-strong: #000000;
$color-text-weak-invert: #dfdfdf;
$color-text-strong-invert: #ffffff;

/* Elements */
body {
  font-family: 'Montserrat', Arial, sans-serif;
}

a, a:visited {
  color: $color-brand-secondary;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Carrois Gotthic', Arial, sans-serif;
  color: $color-brand-primary;
}

/* Header */
.site-header {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.custom-header {
  background: url("https://2018.lehighvalley.wordcamp.org/files/2018/05/WCLVPA-Skyline-Banner-Light-Grey.png") bottom center repeat-x;
	background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}

@media only screen and (max-width: 1024px) {
  .custom-header {
    flex-direction: column;
  }
}

.custom-header-media {
  display: block;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(https://2018.lehighvalley.wordcamp.org/files/2018/04/WordCamp-GearLogo.png);
  background-size: 100%;
  content: "";
  margin: .5rem;
}

.site-branding {
  text-align: center;
  margin: 0 1rem;
}

.site-title {
	margin: 0;
	font-size: 2.75rem;
	line-height: 1;
	font-family: 'Carrois Gotthic', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
  color: $color-text-weak-invert;
  a {
    display: block;
    text-decoration: none;
    color: $color-text-strong;
  }
}

.site-description {
  font-size: 1.5rem;
  margin: .25rem;
}

/* Navigation */
.main-navigation {
  background-color: $color-brand-primary;
  display: flex;
	justify-content: center;
  flex-direction: column;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.menu-toggle {
  padding: 1rem;
  margin: 0;
  width: 100%;
  font-size: 0;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .05em;
  color: $color-text-strong-invert;
  background-color: $color-brand-primary;
  cursor: pointer;
  border: none;
}
.menu-toggle:before {
  font-size: 16px;
  line-height: 24px;
  content: "Menu";
}
.menu-toggle:after {
  position: relative;
  top: -0.125rem;
  border: .375rem solid transparent;
  margin-left: .5rem;
  border-top-color: $color-text-strong-invert;
  content: "";
}

.menu-item-has-children .dropdown-toggle {
  display: none;
}

.submenu .menu-item a {
  background: $color-brand-primary;
  color: $color-text-strong-invert;
}

.page-navigation-container ul ul {
  position: static;
  width: 100%;
  box-shadow: none;
}
.toggle-menu .sub-menu li {
  background-color:$color-brand-primary;
  width: 100% !important;
  margin: 0;
}
.toggle-menu .sub-menu a {
  background-color:$color-brand-primary;
  width: 100% !important;
  padding: 1rem 2.5rem;
  font-size: .9rem;
}
.toggle-menu .sub-menu a:before {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  margin-top: -.5rem;
  width: .125rem;
  height: 1rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: hsla(0,0%,100%,.6);
  content: ""
}

@media only screen and (min-width: 768px){
  .main-navigation {
    font-size: 1.2rem;
    color: $color-text-weak;
    background-color: $color-text-weak-invert;
    border-top: 10px solid $color-brand-primary;
  } 
  .menu {
    display: flex !important /* override display block from theme media query */;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item {
    position: relative;
    margin: 0;
    display: block;
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    a {
      display: block;
      color: $color-brand-primary;
      padding: 1.5rem;
      text-decoration: none;
      transition: all .1s ease-in-out;
    }
    a:hover {
      color: $color-text-strong-invert;
      background-color: $color-brand-primary;
    }
  } 
  .page-navigation-container ul ul {
    top: 69px !important; /* reposition submenu below menu */
  }
  .sub-menu a,
  .sub-menu a:hover {
    background: $color-text-weak;
    color: $color-text-weak-invert;
  }
  .menu-item-has-children > a:after {
    position: relative;
    display: inline-block;
    border: .25rem solid transparent;
    margin-left: .5rem;
    vertical-align: middle;
    border-top-color: $color-brand-primary;
    content: "";
  }
  
}



/* Banner Image */
.widget_media_image {
  overflow: hidden;
  height: 400px;
  border-bottom: 6px solid $color-brand-primary;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .banner-image {
    max-width: 1000px !important; /* overwrite auto inline img styles */
  }
}

@media only screen and (max-width: 767px) {
  #content-widgets {
    display: none;
  }
}
/* Main Content */
.site-content {
  background: url("https://2018.lehighvalley.wordcamp.org/files/2018/05/WCLVPA-Skyline-Banner-Light-Grey.png") bottom center repeat-x;
	background-size: contain;
}

.home {
  .entry-header {
    display: none;
  }
  .entry-content {
    margin-top: -7.5rem;
    margin-bottom: 10rem;
  }
  .hentry {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .home .entry-content {
    margin-top: -5.5rem;
    margin-bottom: 6rem;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .home .entry-content {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

.entry-header,
.entry-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-column {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}
.home-top-blocks {
  margin-bottom: 4rem;
}

.home-top-block {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: $color-brand-primary;
  border: 3px solid $color-brand-primary;
  color: $color-text-strong-invert;
  p {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-text-strong-invert;
    margin: .5rem auto;
  }
}
@media only screen and (max-width: 767px) {
  .home-top-blocks {
    flex-direction: column;
    width: 100%;
  }
  .home-top-block {
    width: 100% !important; /* overwrite gutenberg styles */
    margin: 8px 0 !important; /* overwrite gutenberg styles */
    img {
      width: 42px;
    }
  }
  .wp-block-text-columns .wp-block-column:first-child {
    margin-left: 0 !important; /* overwrite gutenberg styles */
  }
}
/* What will be at WCLVPA for you? */
.user-lvl .wp-block-column {
  border: 1px solid $color-brand-primary;
  background: $color-text-weak-invert;
} 

.user-lvl .wp-block-column h4 {
  color: $color-text-strong-invert;
  background: $color-brand-primary;
  padding: .5rem;
  font-size: 1.1rem;
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .user-lvl {
    flex-direction: column;
    width: 100%;
    .wp-block-column {
      width: 100% !important; /* overwrite gutenberg styles */
      margin: 1rem 0;
    }
  }
}

/* WCLV2017 Gallery */
.wclv2017-gallery {
  margin-left: 0;
  padding: 0;
}

/* Sidebar */
aside.widget-area {
  max-width: 1000px;
  margin: 0 auto;
}

/* Footer */
.site-footer {
  margin: 0 auto;
  background: $color-text-weak-invert;
}

@media only screen and (max-width: 767px) {
  .site-footer {
    padding: 1rem 1rem 0 1rem;
  }
}

.wcb_widget_sponsors {
  text-align: center;
  h2 {
    font-size: 2.4rem;
    margin-bottom: 1em;
  } 
  h4 {
    font-size: 2rem;
  }
  .gold h4 {
    color: #d59b1e;
  }
  .silver h4 {
    color: #6c7d8e;
  }
  .bronze h4 {
    color: #cc5e1c;
  }
}

.wcb_widget_sponsors .sponsor-logo img {
  /* overwrite sponsor widget default styles */
  max-width: 500px !important;
  max-height: 100px !important;
}

@media only screen and (max-width: 767px) {
  .wcb_widget_sponsors .sponsor-logo img {
    max-width: 250px !important;
  }
}

.site-info {
  text-align: center;
}

.site-info-generator {
  color: $color-brand-primary;
  text-decoration: none;
}

.site-info-network {
	position: relative;
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  margin: 15px auto;
  margin-bottom: 1.5rem;
  color: #fff;
  text-indent: -9999px;
  background-image: url(https://europe.wordcamp.org/2016/files/2015/11/wordpress-footer-logo.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: $color-brand-primary;
  background-size: 40px;
  border-radius: 50%;
  transition: all .1s ease;
  &:after {
    position: absolute;
    left: 50%;
    top: 3.275rem;
    margin-left: -.9375rem;
    margin-bottom: -1.875rem;
    width: 1.875rem;
    height: 2rem;
    background: $color-brand-primary;
    transition: all .1s ease;
    content: "";
  }
}