/* Variables */
/* Elements */
body {
  font-family: 'Montserrat', Arial, sans-serif;
}

a {
  color: #d39740;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Carrois Gotthic', Arial, sans-serif;
  color: #990303;
}

/* Header */
.site-header {
  position: relative;
  background-position: center center;
  background-size: cover;
}

.home .site-header .site-branding {
  padding: 1.5rem 3rem 0 3rem;
}

.site-branding {
  background: #ffffff;
  text-align: center;
  border-bottom: 6px solid #990303;
}

.site-title {
  margin: 0;
  font-size: 2.75rem;
  line-height: 1;
  font-family: 'Carrois Gotthic', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #dfdfdf;
}

.site-title a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.site-title a:before {
  display: block;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(https://2018.lehighvalley.wordcamp.org/files/2018/04/WordCamp-GearLogo.png);
  background-size: 100%;
  content: "";
}

.site-description {
  font-size: 1.5rem;
}

/* Navigation */
.main-navigation {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: #383838;
  background-color: #dfdfdf;
  border-top: 5px solid #990303;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu-item {
  position: relative;
  margin: 0;
  display: block;
  font-family: 'Montserrat', arial, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}

.menu-item a {
  display: block;
  color: #990303;
  padding: 1.5rem;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

.menu-item a:hover {
  color: #ffffff;
  background-color: #990303;
}

.menu-item-has-children > a:after {
  position: relative;
  display: inline-block;
  border: .25rem solid transparent;
  margin-left: .5rem;
  vertical-align: middle;
  border-top-color: #990303;
  content: "";
}

.page-navigation-container ul ul {
  top: 69px !important;
  /* reposition submenu below menu */
}

.sub-menu a {
  background: #383838;
  color: #dfdfdf;
}

.sub-menu a:hover {
  background: #ffffff;
  color: #990303;
}

/* Main Content */
.home .entry-header {
  display: none;
}

.home .entry-content {
  margin-top: -8rem;
}

.entry-header,
.entry-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.home-top-block {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #990303;
  border: 3px solid #990303;
  color: #ffffff;
}

.home-top-block p {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  margin: .5rem auto;
}

.header-widgets-block img {
  border-bottom: 6px solid #990303;
}

/* What will be at WCLVPA for you? */
.usr-lvl .wp-block-column {
  border: 1px solid #990303;
  background: #dfdfdf;
}

.usr-lvl .wp-block-column h4 {
  color: #000000;
  background: #990303;
  padding: .5rem;
  font-size: 1.1rem;
}

/* Sidebar */
aside.widget-area {
  max-width: 1000px;
  margin: 0 auto;
}

/* Footer */
.site-footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.site-info {
  text-align: center;
}

.site-info-generator {
  color: #990303;
  text-decoration: none;
}

.site-info-network {
  position: relative;
  display: block;
  width: 3.75rem;
  height: 3.75rem;
  margin: 15px auto;
  margin-bottom: 1.5rem;
  color: #fff;
  text-indent: -9999px;
  background-image: url(https://europe.wordcamp.org/2016/files/2015/11/wordpress-footer-logo.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: #990303;
  background-size: 40px;
  border-radius: 50%;
  transition: all .1s ease;
}

.site-info-network:after {
  position: absolute;
  left: 50%;
  top: 1.875rem;
  z-index: -1;
  margin-left: -.9375rem;
  margin-bottom: -1.875rem;
  width: 1.875rem;
  height: 4rem;
  background: #990303;
  transition: all .1s ease;
  content: "";
}
